day1/CountDigit.exe
day1/Factorial.exe
day1/multiplicationTable.exe
day1/Nnumber_sum.exe
day2/DigitSum.exe
day2/Palindrome.exe
day2/ProductOfDigit.exe
day2/ReverseNumber.exe
day3/GCD.exe
day3/LCM.exe
day3/PrimeNumber.exe
day3/PrimeNumberInRange.exe
day4/ArmstrongNumber_in_Range.exe
day4/checkArmstrongNumber.exe
day4/fibonacciSeries.exe
day4/nthFibonacciTerm.exe
day5/Factors.exe
day5/LargestPrimeFactor.exe
day5/Perfect_number.exe
day5/Strong_number.exe
day6/PowerFunction.exe
day6/CountSetBits.exe
day6/binaryToDecimal.exe
day6/DecimalToBinary.exe
day7/Recursivefactorial.exe
day7/RecursiveFibonacci.exe
day7/RecursiveSumOfDigits.exe
day7/RecursiveReverseNumber.exe
day8/HalfPyramidPattern.exe
day8/NumberTriangle.exe
day8/CharacterTriangle.exe
day8/RepeatedNumberPattern.exe
