day1/CountDigit.exe
day1/Factorial.exe
day1/multiplicationTable.exe
day1/Nnumber_sum.exe
day2/DigitSum.exe
day2/Palindrome.exe
day2/ProductOfDigit.exe
day2/ReverseNumber.exe
day3/GCD.exe
day3/LCM.exe
day3/PrimeNumber.exe
day3/PrimeNumberInRange.exe
day4/ArmstrongNumber_in_Range.exe
day4/checkArmstrongNumber.exe
day4/fibonacciSeries.exe
day4/nthFibonacciTerm.exe
day5/Factors.exe
day5/LargestPrimeFactor.exe
day5/Perfect_number.exe
day5/Strong_number.exe
day6/PowerFunction.exe
day6/CountSetBits.exe
day6/binaryToDecimal.exe
day6/DecimalToBinary.exe
day7/Recursivefactorial.exe
day7/RecursiveFibonacci.exe
day7/RecursiveSumOfDigits.exe
day7/RecursiveReverseNumber.exe
day8/HalfPyramidPattern.exe
day8/NumberTriangle.exe
day8/CharacterTriangle.exe
day8/RepeatedNumberPattern.exe
day9/ReverseStarPattern.exe
day9/ReverseNumberTriangle.exe
day9/RepeatedCharacterPattern.exe
day9/HollowSquarePattern.exe
day10/StarPyramid.exe
day10/ReverceStarPyramid.exe
day10/NumberPyramid.exe
day10/CharacterPyramid.exe
day11/FatorialFunction.exe
day11/MaximumFunction.exe
day11/PrimeFunction.exe
day11/SumFunction.exe
day12/palindromeFunction.exe
day12/ArmstrongFunction.exe
day12/FibonacciFunction.exe
day12/PerfectNumberFunction.exe
day13/InputOutputArray.exe
day13/LargeSmallArray.exe
day13/SumAverageArray.exe
day13/EvenOddCount.exe
day14/LinearSeach.exe
day14/frequencyCheck.exe
day14/DuplicateinArray.exe
day14/SecondLargest.exe
day15/ReverseArray.exe
day15/RotateArrayleft.exe
day15/RotateArrayRight.exe
day15/MoveZeroestoend.exe
day16/FindMissingNumber.exe
day16/MaximumFrequencyElement.exe
day16/PairWithGivenSum.exe
day16/RemoveDuplicates.exe
