day1/CountDigit.exe
day1/Factorial.exe
day1/multiplicationTable.exe
day1/Nnumber_sum.exe
day2/DigitSum.exe
day2/Palindrome.exe
day2/ProductOfDigit.exe
day2/ReverseNumber.exe
day3/GCD.exe
day3/LCM.exe
day3/PrimeNumber.exe
day3/PrimeNumberInRange.exe
day4/ArmstrongNumber_in_Range.exe
day4/checkArmstrongNumber.exe
day4/fibonacciSeries.exe
day4/nthFibonacciTerm.exe
